<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AndevisTest.Properties.Settings.AndevisTestTaskConnectionString"
            connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=AndevisTestTask;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="AndevisTest.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Programming\Projects\C#\AndevisTestTask\Database.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="AndevisTest.Properties.Settings.DatabaseConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_Data\Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AndevisTest.Properties.Settings.AndevisTestTaskConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=AndevisTestTask;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>